{% extends "layout.html" %}

{% block body %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">About me</h1>
        <p class="lead">I am a technology professional with international experience in sectors such as HR software,
            cloud communication APIs, e-commerce and payment processing.</p>
        <br>
        <p>I have extensive experience as an employee and as an entrepreneur. I have worked for global giants and startups,
        so I understand the different needs of different companies at different stages. My academic background, following classical
        studies is in Communication and Marketing. After my master degree I have moved from Italy to the UK.
        My work for technology companies on the service side of things sparked my curiosity in learning computer programming.</p>
        <p>The first programming language that I have used is Ruby, with Ruby on Rails. My main interest was to develop web applications
        to use in e-commerce. This because following CIM studies on e-marketing I decided to start an e-commerce operation.</p>
        <p>As I continued to gain more technical knowledge, particularly in regards to APIs, I have focused my technical learning on Python and
        Test Driven Development because I liked the clarity of the Python programming language, and I recognised that it is absolutely essential
        to write tests in order to have quality code that can be maintained with confidence.</p>
    </div>
</div>


{% endblock %}