{% extends "layout.html" %}

{% block body %}
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Portfolio and CV.</h1>
            <p class="lead text-muted">Use the links below if you either want to contact me or download my CV.</p>
            <p>
                <a href="#" class="btn btn-primary my-2">Contact me</a>
                <a href="https://luca-melis.s3.eu-west-2.amazonaws.com/Luca_Melis.pdf"
                   class="btn btn-secondary my-2">Get my CV</a>
            </p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                             focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>Technology professional.</title>
                            <image href="static/keyboard.jpg" x="0" y="0" height="100%" width="100%"/>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">I am a technology professional with international experience in sectors
                                such as HR software, cloud communication APIs, payment processing.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                             focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>TDD and programming.</title>
                            <image href="static/code.jpg" x="0" y="0" height="100%" width="100%"/>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Use test driven development to write solid applications to solve
                                real life business problems. I use Python and Ruby for programming.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice"
                             focusable="false" role="img" aria-label="Placeholder: Thumbnail">
                            <title>Cloud and data analysis.</title>
                            <image href="static/dashboards.jpg" x="0" y="0" height="100%" width="100%"/>
                        </svg>
                        <div class="card-body">
                            <p class="card-text">Experienced with cloud platforms and in
                                working with large amount of data with creating reports and dashboards for monitoring
                                and data analysis.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">More</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>


{% endblock %}